#block_captcha {
    float: left;
    border: 1px solid rgb(153, 153, 153);
    position: absolute;
    top: 40%;
    left: 50%;
    background-color: #0099CC;
    border-radius: 5px;
    margin-left: -183px;
    margin-top: -70px;
    width:440px;
    color: #fff;
    font: 11pt Verdana, sans-serif;
}
#block_captcha p {
    margin: 5px;
    text-align: center;
}

#block_captcha .comment{
    margin: 5px;
    text-align: left;
}

#block_captcha input[type=text] {
    width: 340px;
    margin: 5px;
}

#block_captcha a {color: #afeeee}
#block_captcha a:hover {color: #afeeee}
#block_captcha a:visited {color: #afeeee}
#block_captcha a:link {color: #afeeee}
